/* Write your CSS here */
.suggestion-item {
  display: flex;
  list-style-type: none;
  margin-top: 16px;
  justify-content: space-between;
}

.text {
  color: #475569;
  font-size: 16px;
  font-family: 'Roboto';
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 20px;
  }
}

.arrow-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.arrow {
  height: 16px;
  width: 16px;
}

@media screen and (min-width: 768px) {
  .arrow {
    height: 24px;
    width: 24px;
  }
}
